.service {
    background-color: $color-grey-0;
    padding: 6rem 2rem;
    .box {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0.8rem;
        .items {
            flex-basis: 23%;
            margin: 0.7rem;
            padding: 3rem;
            background-color: $color-white;
            border-radius: 0.6rem;
            display: inline-block;
            text-align: center;
            .content {
                &:hover {
                    text-decoration: none;
                    button {
                        color: $color-blue-0;
                        background-color: $color-white;
                        border-color: $color-blue-0;
                    }
                }
                i {
                    font-size: 75px;
                    margin: 2rem auto 0;
                    color: $color-blue-1;
                }
                h3 {
                    color: $color-blue-1;
                    font-size: $fs-3;
                    margin: 4rem 0 3rem;
                    line-height: 1.5rem;
                    letter-spacing: 0.01rem;
                    width: 100%;
                }
                button {
                    display: block;
                    line-height: normal;
                    margin: 0 auto;
                    width: 10rem;
                    padding: 0.8rem 0;
                    background-color: $color-blue-0;
                    font-size: $fs-2;
                    color: $color-white;
                    border-radius: 1.95rem;
                    text-align: center;
                    border: 2px solid $color-blue-0;
                    font-weight: bold;
                    transition: all 0.5s;
                }
            }
        }
    }
}
